{
    "env": {
        "es6": true
    },
    "extends": [
        "plugin:@typescript-eslint/recommended"
    ],
    "plugins": [
        "prettier",
        "import",
        "simple-import-sort",
        "unicorn"
    ],
    "parser": "@typescript-eslint/parser",
    "settings": {
        "import/resolver": {
            "typescript": true,
            "node": true
        }
    },
    "parserOptions": {
        "ecmaVersion": "latest",
        "sourceType": "module"
    },
    "rules": {
        "@typescript-eslint/no-explicit-any": "off",
        "simple-import-sort/imports": "error",
        "simple-import-sort/exports": "error",
        "import/first": "error",
        "import/newline-after-import": "error",
        "import/no-duplicates": "off",
        "unicorn/better-regex": "error",
    }
}